*{
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.cabecalho__menu__link {
    font-size: 18px;
    color: #333;
    margin: 0 10px;
    padding: 10px 15px;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: #007bff;
}

.cabecalho__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.apresentacao {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rodape{
    padding: 24px;
    background-color: aqua;
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400px;
}