.cabeçalho__menu {
    width: 24px;
    height: 24px;
    background-image: url('../assets/Menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabeçalho {
    background-color: var(--header-prymary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
}

.container__button:checked ~ .lista-menu {
    display: block;
    position: absolute;
    top: 100%;
}