@import url("../styles/header.css");

:root {
    --primary-color: #4A90E2;
    --secondary-color: #50E3C2;
    --background-color: #9b9b9b;
    --text-color: #333333;

    /* header */
    --header-prymary-color: #ffffff;
    --header-secondary-color: #f5f5f5;
    /* Fontes */
}

body {
    background-color: var(--background-color);
}